@page
@model WebApplication2.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div><a href="api/values">values test</a></div>
<div ><a href="api/First/@Model.TokenString">This is your first clue</a></div>

